@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

#root,
.App {
  height: 100%;
}

.profileCard {
  box-shadow: 0 0 40px rgba(0, 0, 139, 0.2), -5px -5px 10px rgba(0, 0, 139, 0.8),
    5px -5px 40px rgba(0, 0, 139, 0.8), -5px 5px 10px rgba(0, 0, 139, 0.2),
    5px 5px 10px rgba(0, 0, 139, 0.2);
  backface-visibility: hidden;
}
